* {
    color: #ebfffc;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cointener {
    width: 507px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    border-radius: 12px;
    padding-bottom: 10px;
    background-image: linear-gradient(170deg, #130754 0%, #5447a2 100%);
}


.searchBox {
    display: flex;
    justify-content: center;
    gap: 14px;
    align-items: center;
    padding-top: 30px;
}

.searchBox input {
    width: 262px;
    height: 48px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.searchBox img {
    width: 18px;
    height: 18px;
}

.WeatherLocation {
    margin-top: 10px;
    font-size: 40px;
}

.weatherImage img {
    width: 150px;
    height: 150px;
}

.temp {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    margin-bottom: 25px;
}

.temp .weatherTemp {
    font-size: 40px;
}

.dataCointer {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-bottom: 25px;
}

.sumPosition {
    margin-top: 60px;
}

.element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.058);
}

.element img {
    width: 50px;
    height: 40px;
}

.data {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;
    padding: 5px 10px 5px 0px;
}

.text {
    font-size: 16px;
}

.svg-icon {
    fill: #ffffff; /* Set the desired color */
}

@media(max-width: 500px) {
    .cointener{
        border-radius: 0px;
        margin-top: 0px;
        width: 100vw;
        height: auto;
        padding-bottom: 10px;
    }

    .WeatherLocation{
        margin-top: 30px;
    }

    .weatherImage img {
        width: 150px;
        height: 150px;
    }
    .text {
        font-size: 10px;
    }
    
    .data {
        font-size: 16px;
        gap: 3px;
        padding: 5px 5pxpx 0px;
    }
    .element img {
        width: 40px;
        height: 30px;
    }
    .element {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 12px;
    }
}